.topbar {
    height: 30px;
}

.topbar .home {
  float: left;
  margin-right: 20px;
}

#soundcloud-url {
    width: 400px;
}

.recommendation {
  overflow: hidden;
  margin: 5px 0;
  position: relative;
}

.recommendation.s1 {
  width: 100px;
  height: 100px;
}
.recommendation.s2 {
  width: 210px;
  height: 210px;
}
.recommendation.s3 {
  width: 320px;
  height: 320px;
}

.recommendation img {
  width: 100%;
  height: 100%;
}

.trail-item {
    float: right;
}

.trail-vote {
    float: left;
}

.clearfix {
  clear: both;
}
.trail {
  clear: both;
  height: 150px;
}
.trail-vote {
    margin-left: 20%; /* gross but seems to work */
}
.trail-image img {
    width: 100px;
    height: 100px;
}
.trail-step-icon {
    width: 40px;
    height: 40px;
}
.player-and-controls {
    width: 100%;
    height: 166px;
    position: relative;
}
.player-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 100px;
}
.controls {
    margin-top: 15px;
    margin-left: 25px;
}
.controls-container {
    position: absolute;
    width: 100px;
    top: 0;
    right: 0;
}
.controls-not-ready {
    margin-top: 58px;
    margin-left: 15px;
    margin-right: 15px;
}
input.inwards-button {
    background-image: url(/inwards50.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 50px;
    padding-left: 50px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
/*    margin-bottom: 18px;*/
}
input.outwards-button {
    background-image: url(/outwards50.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 50px;
    padding-left: 50px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}
input.skip-button {
    margin-top: 5px;
    margin-bottom: 5px;
}