.topbar {
    height: 30px;
}

.recommendation {
  overflow: hidden;
  margin: 5px 0;
  position: relative;
}

.recommendation.w1 {
  width: 100px;
}
.recommendation.w2 {
  width: 210px;
}
.recommendation.w3 {
  width: 320px;
}

.recommendation img {
  width: 100%;
  height: 100%;
}

.trail-item {
    float: left;
}

.trail-vote {
    float: left;
}