.topbar {
    height: 30px;
}

.topbar .home {
  float: left;
  margin-right: 20px;
}

#soundcloud-url {
    width: 400px;
}

.recommendation {
  overflow: hidden;
  margin: 5px 0;
  position: relative;
}

.recommendation.s1 {
  width: 100px;
  height: 100px;
}
.recommendation.s2 {
  width: 210px;
  height: 210px;
}
.recommendation.s3 {
  width: 320px;
  height: 320px;
}

.recommendation img {
  width: 100%;
  height: 100%;
}

.trail-item {
    float: left;
}

.trail-vote {
    float: left;
}

.controls a {
  margin: 3px;
}
.controls .disabled {
  opacity: 0.5;
  cursor: normal;
}

.clearfix {
  clear: both;
}
.trail {
  clear: both;
}
