<template name="point">
  <div class="topbar">
    <a class="home" href='/'>Go home...</a>
  </div>

  <section class="player">
    <aside>
      {{> inwards}}
    </aside>

    <aside>
      {{> outwards}}
    </aside>
  </section>
</template>  

<template name="foo">
  {{> trail}}

  <div class="player-and-controls">
    <div class="player-container">
      {{> player}}
    </div>
    <div class="controls-container">
      {{> controls}}
    </div>
  </div>

  {{> recommendations}}
</template>

<head>
  <script src="/fu_soundcloud.js"></script>
</head>
